body {
	background: #333;
	padding: 20px;
	color: #bbb;
	font-size: 1.8rem;
}
.App {
}

.App h2 {
	color: rgb(238, 238, 166);
}

.App .flashcards {
	margin: 0 0 0 20px;
}

.App .flashcards .flashcard {
	margin: 0 0 20px 0;
}