body {
	background: #333;
	padding: 20px;
	color: #bbb;
	font-size: 1.8rem;
}
.App {
	h2 {
		color: rgb(238, 238, 166);
	}
	.flashcards {
		margin: 0 0 0 20px;
		.flashcard {
			margin: 0 0 20px 0;
			.back {
				font-family: 'Courier New', Courier, monospace;
				color: brown;
				font-weight: bold;
				background: #aaa;
			}
		}
	}
}
